/* Define CSS classes for each color */
.badge {
	padding: 4px 24px;
	font-size: 32px;
	margin-top: 10px;
}

.white {
	background: #f3f4f6;
	color: #1f2937;
}

.yellow {
	background: #fef3c7;
	color: #92400e;
}

.red {
	background: #fee2e2;
	color: #991b1b;
}

.green {
	background: #d1fae5;
	color: #065f46;
}

.blue {
	background: #dbeafe;
	color: #1e40af;
}

.indigo {
	background: #e0e7ff;
	color: #3730a3;
}

.purple {
	background: #ede9fe;
	color: #5b21b6;
}

.pill {
	border: 1px solid transparent;
	border-radius: 12px;
}

.square {
	border-radius: 4px;
}
